<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrainPad.Drivers" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Core" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Adc" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Gpio" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.I2c" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Pwm" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Signals" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.BasicGraphics" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.Infrared" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.Motor.Servo" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.SolomonSystech.SSD1306" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.Worldsemi.WS2812" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Native" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Pins" version="2.1.0" targetFramework="net452" />
</packages>